<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" data-qa="sidenav" role="dialog" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a data-qa="nav-demonstrator" (click)="navigateTo('home')" class="hover"><div class="sidenav-button">Home</div></a>
      <a data-qa="nav-demonstrator" (click)="navigateTo('demonstrator')" class="hover"><div class="sidenav-button">Try it out!</div></a>
      <a data-qa="nav-performance" (click)="navigateTo('performance')" class="hover"><div class="sidenav-button">Performance</div></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar data-qa="toolbar" color="primary" role="banner">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <img src="/assets/logo.png" srcset="/assets/logo.svg" height="50" width="50">
      <span>gravity-simulator</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

