<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" data-qa="sidenav" role="dialog" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a data-qa="nav-performance" (click)="navigateTo('performance')">Performance</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar data-qa="toolbar" color="primary" role="banner">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>gravity-demo</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

